@charset "UTF-8";


/* nav ul { */
/*   display: flex; */
/*   justify-content: space-between; */
/* } */
header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Encode Sans"; /*ou "Prompt", j'ai importé 2 polices qui me plaisaient via google front*/
}

/* Header */
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 50px;
	box-shadow: 0 1px 8px rgb(201, 201, 201);
}

#nav-title {
	margin-right: auto;
	font-size: 1.1em;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px 0 20px;
  font-size: 18px;
}

ul li::after {
  content: ""; /*petite barre sous les items*/
  width: 0%;
  height: 2px;
  background: #F2226E;
  display: block;
  margin: auto;
}
ul li:hover::after {
  width: 100%;
}

ul li a {
  text-decoration: none;
  color: #D91480;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.4s ease-in-out; /*le temps de transition vers le bleu lorsque l'utilisateur passe la souris"*/
}

ul li a:hover {
  color: #F2226E;
}

main {
	margin-top: 15px;
	margin-left: 15px;
}

main h1 {
	margin: 10px;
}

.center-main {
	display: flex;
	width: 100%;
	height: 300px;
	margin: auto;
}

.center-section {
	margin: auto;
	text-align: center;
}
