body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	font-family: "Encode Sans"; /*ou "Prompt", j'ai importé 2 polices qui me plaisaient via google front*/
	margin: 0;
	background-color: #EEF2E9;
}

header {
	padding: 3px;
	background-color: rgba(255,255,255,0.6);
	
}

h1 {
	font-size: 1.8em;
}

footer {
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
	text-align: center;
	color: #D91480;
	height: auto;
	font-weight:bold;
	box-shadow: 0 1px 8px rgb(201, 201, 201);
}

nav li {	
	font-size: 1.5em;
}