/* Style du formulaire */
:root {
	--primary-color: #f2226e;
	--secondary-color: #d91480;
	--accent-color: #3bacd9;
	--background-color: #eef2e9;
	--text-color: #f28705;
}

.ensemble {
	max-width: 600px;
	margin: 0 auto;
	background-color: var(--background-color);
	padding: 5px;
	border-radius: 10px;
}

/* Style des labels */
label {
	color: var(--text-color);
	font-size: 20px;
	font-weight: bold;
}

/* Style des champs de texte */
input[type="text"], input[type="number"], textarea, select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 1px 8px rgb(201, 201, 201);
	border-radius: 5px;
	box-sizing: border-box;
	border: none;
	font-weight: bold;
}

input[type="text"]::after, input[type="number"]::after, textarea::after,
	select::after {
	border: none;
}

select:focus, input:focus {
	outline: none; /* Supprime la bordure de mise au point par défaut */
}
/* Style du bouton */
button {
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--secondary-color);
}

/* Style des messages d'erreur */
.error-message {
	color: red;
	font-size: 14px;
}

/* Style de la légende */
legend {
	color: var(--primary-color);
	font-weight: bold;
	margin-bottom: 10px;
}

/* Style du champ de fichier */
input[type="file"] {
	margin-top: 10px;
}
/*GGGGGGGGGGGGGGGGGGGGGGGGGGGGG
/* Style des boutons du formulaire */
button {
	background-color: var(--primary-color);
	color: var(--background-color);
	padding: 6px 20px;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	font-weight: bold;
	box-shadow: 0 1px 8px rgb(201, 201, 201);
}

/* Style au survol des boutons */
button:hover {
	background-color: var(--text-color);
	color: var(--background-color);
}

/* Style des liens */
a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

/* Style du conteneur du formulaire */
.form-container {
	min-height: 60vh;
	display: flex;
	justify-content: space-around; /* Ajustez selon votre préférence */
	align-items: flex-start; /* Alignement en haut */
}

/* Style des colonnes du formulaire */
.form-column {
	width: 45%; /* Ajustez selon votre préférence */
}

/* Style des éléments du formulaire */
.infos {
	padding: 10px;
}

/* Clearfix pour éviter que le contenu ne dépasse */
.form-container::after {
	content: "";
	display: table;
	clear: both;
}

.button {
	margin-top: 10px;
}
/*NNNNNNNNNNNNNNNNNNNNNN*/

#categorySelect option {
	font-weight: bold;
	background-color: #eef2e9;
	border: none;
}

/* Style for input fields */
input[type="date"], input[type="element"]{
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	width: 200px; /* You can adjust the width as needed */
	box-sizing: border-box;
	box-shadow: 0 1px 8px rgb(201, 201, 201);
	/* Ensure padding and border are included in width */
}

/* Style for disabled input fields */
input[type="date"][disabled] {
	background-color: #f4f4f4;
	box-shadow: 0 1px 8px rgb(201, 201, 201);
	/* Change background color for disabled input */
	color: #777; /* Change text color for disabled input */
}

/* Style for error message (if needed) */
.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}
td {
	font-weight:bold;
}

h2 {
	color: var(--secondary-color);
}

span {
    color: #808080;
    font-weight: 600;
}

input.element, input.elementConfirm {
    width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 1px 8px rgb(201, 201, 201);
	border-radius: 5px;
	box-sizing: border-box;
	border: none;
	font-weight: bold;
}

input.element[type="password"] {
    /* Ajoutez ici les styles spécifiques pour les inputs de type "password" */
    /* Par exemple, changer la couleur du texte */
    color: #333;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.conteneur {
    position: relative;
}
.bouton-retour {
	position: absolute;
    top: 10px;
    right: 10px;
}

.erreur{
	color:var(--secondary-color);
	font-weight: bold;
}