<!-- Entête - Logo et options -->
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">
<head>
<title>ENIEnchères - Nouvelle vente</title>
<th:block id="ressources-css">
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</th:block>
</head>
<body>
<main>
<script type="application/javascript" th:src="@{/js/script.js}"></script>
	<div class="title"><h1>Nouvelle vente</h1></div>
	<div class="main">
		<div class="infos">
			<div class="canvas">
				<p>
				<img id="display" width="400" height="250"></img>
				</p>
			</div>
		</div>
		
<!-- Formulaire -->
		<form  method="post" action="/ajout-vente-valider" th:object="${article}" >
		<div class="infos">
				<!-- Entrée pour le nom de  l'article -->
				<label for="nomArticle">Article : </label> 
					<input name="nom" th:type="text" id="nom" th:value="${article.nom}" th:field="*{nom}" th:maxlength="30">
					<div class="error-message">
						<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
							class="erreur">Erreur de validation</p>
					</div>
				
				<br/><br/>
				<!-- Entrée pour la description de l'article -->
				<label for="description">Description : </label>
					<textarea name="description" id="description" th:value="${article.description}" th:field="*{description}"  th:maxlength="300"></textarea>
					<div class="error-message">
					<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
						class="erreur">Erreur de validation</p>
						</div>
						
				<br/><br/>
				<!-- Menu déroulant pour la catégorie de l'article vendu -->
				<label for="categorie">Catégorie : </label>
			    	<select th:field="*{categorie.noCategorie}" id="categorie" required>
							<option value="-1" disabled>Toutes les catégories</option>
							<option th:each="category : ${categories}"
								th:value="${category.noCategorie}"
								th:text="${category.libelle}"></option>
			    	</select>
					<div class="error-message">
					<p th:if="${#fields.hasErrors('categorie')}" th:errors="*{categorie}"
						class="erreur">Erreur de validation</p>
						</div>
						
				<br/><br/> 
				<label for="image_article">Photo de l'article : </label>
					<input type="file" id="image_article" name="image_article" accept="image/*"
						 th:onchange="upload()">
				<br/><br/>
				<!-- Prix de départ de l'article vendu -->
				<label for="prix_initial">Mise à prix : </label>
					<input name="miseAPrix" type="number" id="miseAPrix"  th:value="${article.miseAPrix}" >
				
				<br/><br/>
				<!-- Entrée de la date du début d'enchère -->
				<label for="date_debut">Début de l'enchère : </label>
					<input type="date" name="debut" id="debut" th:value="${article.debut}" th:onclick="minDebutDate(); minFinDate();" 
					th:onchange="minFinDate()" min=""  required>

				
				<br/><br/>
				<!-- Entrée de la date de la fin de l'enchère -->
				<label for="date_fin">Fin de l'enchère : </label>
					<input type="date" name="fin" id="fin"  th:value="${article.fin}" required disabled>
				<!-- <div class="error-message">
					<p th:if="${article.}" th:errors="*{categorie}"
						class="erreur">Erreur de validation</p>
						</div>	 -->

				<fieldset>
					<legend>Retrait</legend> 
						<table>
							<tr><td>Rue : </td><td><input name="rue" th:type="text" th:maxlength="30" th:value="${user.getRue()}" ></td></tr>
							<tr><td>Code postal : </td><td><input name="code_postal" th:type="text" th:maxlength="10" th:value="${user.getCodePostal()}" ></td></tr>
							<tr><td>Ville : </td><td><input name="ville" th:type="text" th:maxlength="30" th:value="${user.getVille()}" ></td></tr>
						</table>
				</fieldset>
				
				
				<div class="button">
					<button th:type="submit" value="save">Enregistrer</button> 
					<button type="button"   th:onclick="backButton()" value="cancel"><a href="/encheres">Annuler</a></button>
				</div>
					
			</div>
		</form>
<!-- Fin du formulaire -->
		</div>
	
	</main>
</body>
</html>