<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="design.css">
<title>Modification Profil</title>
</head>
<body>
<div class="title-container">
	<h2>ENI - NOM DU SITE </h2>
</div>
<br>
	<h3>MODIFIER VOS INFORMATIONS :</h3>
		<form action="/validerModifProfil" method="post" th:object="${user}">
<div class="container">

	<div class="container-titre">
	<p>Pseudo* :</p>
	<p>Prénom* :</p>
	<p>Téléphone* :</p>
	<p>Code Postal* :</p>
	<p>Ancien mot de passe :</p>
	<p>Nouveau mot de passe :</p>
	<br>
	<p th:text="${'Crédit : '+user.getCredit()}"> </p>
		<br>
	<p>* (champs obligatoires)</p>
	
	</div>
	<div class="container-value">		
		<input class="element" type="text" th:field="*{pseudo}" id="pseudo">
		<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" th:field="*{prenom}" id="prenom">
<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" th:field="*{telephone}" id="telephone">
<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" th:field="*{CodePostal}" id="codePostal">
<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="hidden" th:field="*{credit}" id="credit">
		<input class="element" type="text" id="ancienMdp">
<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" id="nouveauMdp">
		<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
	</div>
	
	<div class="container-titre-2">
	<p>Nom* :</p>
	<p>Email* :</p>
	<p>Rue* :</p>
	<p>Ville* :</p>
	<br>
	<p>Confirmation :</p>		
	</div>
	<div class="container-value">		
		<input class="element" type="text" th:field="*{nom}" id="nom">
		<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" th:field="*{email}" id="email">
		<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" th:field="*{rue}" id="rue">
		<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
		<input class="element" type="text" th:field="*{ville}" id="ville">
		<input class="elementConfirm" type="text" id="confirmation">
		<div class="error-message"><p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="erreur">Erreur de validation</p></div>
	</div>
	

</div>
	<div class="bouton" sec:authorize="hasRole('ROLE_USER')">
	 <!-- todo : role user et user.getId == sessionUser.getId -->
	<button>VALIDER</button>
	</div>
</form>
<br>	
<div class="bouton">
	 <a href="/profil">
	<button>RETOUR</button>
	</a>
	</div>




</body>
</html>