<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>newPassword</title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/connexion.css}">
	<link
		href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Encode+Sans:wght@100&display=swap"
		rel="stylesheet">
</th:block>
<body>
	<div class="btnRetour">
		<a class="retour" href="/login">RETOUR</a>
	</div>
	<div class="container">
		<div class="login-wrapo flex">
			<div class="login-box">
				<form id="formReset" action="/newPasswordValid" method="post">
					<div>
						<input type="hidden" id="email" name="email" th:value="${email}" />
						<input type="password" name="mdp" placeHolder="MOT DE PASSE" /> <input
							type="password" name="mdpConfirm" placeHolder="CONFIRMER" />
					</div>
					<p class="info" th:if="${mdpOk}">votre mot de passe à été changé, vous allez
						être redirigé dans 3s vers la page login ...</p>
					<p class="info" th:if="${mdpError}">mot de passe non autorisé (mininmim 5)
						ou confirmation différente</p>
					<div>
						<button>changer mon mot de passe</button>
					</div>
				</form>
				<script th:if="${mdpOk}">
					setTimeout(function() {
						window.location.href = "/login";
					}, 3000);
				</script>
			</div>
		</div>
	</div>
</body>
</html>