<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>reset password</title>
</head>
<body>
	<a href="/login">
		<button>RETOUR</button>
	</a>
	<br>
	<br>
	<br>
	<form id="formReset" action="/newPasswordValid" method="post">
	<div>
		<label>New password: <br>	
		<br>
		<input type="hidden" id="email" name="email" th:value="${email}" />
		<input type="password" name="mdp" placeHolder="mdp" />
		</label>
		<br>
		<label>Confirmation: <br>	
		<br>
		<input type="password" name="mdpConfirm" placeHolder="mdpConfirm" />
		</label>
		</div>
		<br>
		<p th:if="${mdpOk}" >votre mot de passe à été changé, vous allez être redirigé dans 3s vers la page login ...</p>	
		<p th:if="${mdpError}" >mot de passe non autorisé (mininmim 5) ou confirmation différente</p>	
		<div>
		<input type="submit" value="ENVOYER">
		</div>
	</form>
	
	
	<br>
	<br>
	
	  <script th:if="${mdpOk}">
	  setTimeout(function() {
          window.location.href = "/login";
      }, 3000);
</script>
</body>
</html>