<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
<title>Profil</title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/tp-detail.css}">
</th:block>
<body>
	<main>
		<div class="cardDetail">
			<h2>PROFIL</h2>
			<div class="container">
				<div class="container-titre">
					<p>
						<strong>Pseudo: </strong><span th:text="${user.getPseudo()}"></span>
					</p>
					<p>
						<strong>Nom: </strong><span th:text="${user.getNom()}"></span>
					</p>
					<p>
						<strong>Prénom: </strong><span th:text="${user.getPrenom()}"></span>
					</p>
					<p>
						<strong>Email: </strong><span th:text="${user.getEmail()}"></span>
					</p>
					<p>
						<strong>Téléphone: </strong><span th:text="${user.getTelephone()}"></span>
					</p>
					<p>
						<strong>Rue: </strong><span th:text="${user.getRue()}"></span>
					</p>
					<p>
						<strong>Code Postal: </strong><span th:text="${user.getCodePostal()}"></span>
					</p>
					<p>
						<strong>Ville: </strong><span th:text="${user.getVille()}"></span>
					</p>
					<br>
					<p>
						<strong>Credit: </strong><span th:text="${user.getCredit()}"></span>
					</p>
				</div>
			</div>
				<th:block sec:authorize="hasRole('ROLE_MEMBRE')">
					<th:block th:if="${user.noUtilisateur == userSession}">
					    <a href="/modifierProfil">
					        <button>MODIFIER</button>
					    </a>
					</th:block>
				</th:block>
		</div>
	</main>

</body>
</html>