<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>CREER COMPTE</title>
<th:block id="ressources-css">
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/general.css}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Encode+Sans:wght@100&display=swap" rel="stylesheet">
</th:block>
</head>
<body>
	<main>
		<h2>CREER UN COMPTE</h2>
		<div class="ensemble">
			<form action="/register" method="post" th:object="${user}">
				<div class="form-container">
					<div class="infos">
						<label>Pseudo* :</label><input class="element" type="text"
							th:field="*{pseudo}" id="pseudo">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"
								class="erreur">Erreur de validation</p>
							<p th:if="${pseudoExists}" class="erreur">le pseudo existe déjà</p>
						</div>
						<label>Prénom* :</label><input class="element" type="text"
							th:field="*{prenom}" id="prenom">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"
								class="erreur">Erreur de validation</p>
						</div>
						<label>Téléphone* :</label><input class="element" type="number"
							th:field="*{telephone}" id="telephone"
							oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
							maxlength="10">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('telephone')}"
								th:errors="*{telephone}" class="erreur">Erreur de validation</p>
						</div>
						<label>Code Postal* :</label><input class="element" type="number"
							th:field="*{CodePostal}" id="codePostal"
							oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
							maxlength="5">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('codePostal')}"
								th:errors="*{codePostal}" class="erreur">Erreur de
								validation</p>
						</div>
						<input class="element" type="hidden" th:field="*{noUtilisateur}"
							id="noUtilisateur"> <input class="element" type="hidden"
							th:field="*{credit}" id="credit"> <input class="element"
							type="hidden" th:field="*{administrateur}" id="administrateur">

						<label>mot de passe :</label><input class="element"
							type="password" id="mdp" name="mdp">
						<div class="error-message">
							<p class="erreur" th:if="${pswBlank}">Les cases mot de passe et confirmation
								doivent être complétées</p>
							<p class="erreur" th:if="${passwordTooShort}">le mot de passe doit faire
								minimum 5 caractères</p>
						</div>
					</div>
					<div class="infos">
						<label>Nom* :</label><input class="element" type="text"
							th:field="*{nom}" id="nom">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
								class="erreur">Erreur de validation</p>
						</div>
						<label>Email* :</label><input class="element" type="text"
							th:field="*{email}" id="email">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="erreur">Erreur de validation</p>
							<p th:if="${emailExists}">l'email est déjà utilisé</p>
						</div>
						<label>Rue* :</label><input class="element" type="text"
							th:field="*{rue}" id="rue">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}"
								class="erreur">Erreur de validation</p>
						</div>
						<label>Ville* :</label><input class="element" type="text"
							th:field="*{ville}" id="ville">
						<div class="error-message">
							<p th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"
								class="erreur">Erreur de validation</p>
						</div>
						<label>Confirmation :<label><input
								class="elementConfirm" type="password" id="confirmationMdp"
								name="confirmationMdp">
								<div class="error-message">
									<p th:if="${pswNotTheSame}">mot de passe et confirmation
										différent</p>
								</div>
					</div>


				</div>
				<div>
					<button>VALIDER</button>
					<span class="info">* (champs obligatoires)</span>
				</div>
			</form>
		</div>
		<a href="/login">
			<button>ANNULER</button>
		</a>
	</main>
</body>
</html>