<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>reset password</title>
</head>
<body>
	<a href="/login">
		<button>RETOUR</button>
	</a>
	<br>
	<br>
	<br>
	<form id="formReset" action="/resetPasswordValid" method="post">
	<div>
		<label>email: <br>	
		<br>
		<input type="text" name="email" placeHolder="email" />
		</label>
		</div>
		<br>
		<p th:if="${message}" >un mail de reset sera envoyé, vous allez être redirigé dans 3s ...</p>	
		<p th:if="${messageAlert}" >email incorect</p>	
		<p th:if="${noEmail}" >email n'existe pas</p>	
		<div>
		<input type="submit" value="ENVOYER">
		</div>
	</form>
	
	
	<br>
	<br>
	
	  <script th:if="${message}">
	  setTimeout(function() {
          window.location.href = "/newPassword";
      }, 3000);
</script>
</body>
</html>