<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>reset password</title>
</head>
<body>
	<a href="/login">
		<button>RETOUR</button>
	</a>
	<br>
	<br>
	<br>
	<form action="/resetPasswordValid" method="post">
	<div>
		<label>email: <br>	
		<br>
		<input type="text" name="email" placeHolder="email" />
		</label>
		</div>
		<br>
		<p th:if="${message}" >si l'email existe un mail de reset sera envoyé</p>	
		<p th:if="${messageAlert}" >mail incorect</p>	
		<div>
		<input type="submit" value="ENVOYER">
		</div>
	</form>
	<br>
	<br>
</body>
</html>