<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>resetPassword</title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/connexion.css}">
	<link
		href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Encode+Sans:wght@100&display=swap"
		rel="stylesheet">
</th:block>
<body>
<div class="btnRetour"><a class="retour" href="/login">RETOUR</a></div>
	<div class="container">
		<div class="login-wrapo flex">
			<div class="login-box">
				<form id="formReset" action="/resetPasswordValid" method="post">
					<div>
						<input type="text" name="email" placeHolder="email" />
					</div>
					<p class="info" th:if="${message}">un mail de reset sera envoyé, vous allez
						être redirigé dans 3s ...</p>
					<p class="info" th:if="${messageAlert}">email incorect</p>
					<p class="info" th:if="${noEmail}">email n'existe pas</p>
					<button>ENVOYER LE MAIL</button>
				</form>


				<br> <br>

				<script th:if="${message}">
					setTimeout(function() {
						window.location.href = "/newPassword";
					}, 3000);
				</script>
			</div>
		</div>
	</div>
</body>
</html>