<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
<title>Detail</title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/tp-detail.css}">
</th:block>

</head>
<body>
	<main>
		<div class="cardDetail">
			<div
				th:with="startDate=${new java.util.Date(article.debut.time)}, endDate=${new java.util.Date(article.fin.time)}">
				<div
					th:with="now=${#dates.createNow()}, startDate=${new java.util.Date(article.debut.time)}, endDate=${new java.util.Date(article.fin.time)}">
					<div th:if="${now.after(endDate) and enchere.utilisateur.pseudo eq pseudoUser}">
						<h1>Vous avez remporté cette enchère</h1>
					</div>
					<div th:if="${now.after(endDate) and enchere.utilisateur.pseudo ne pseudoUser}">
						<h1>
						    <span>Enchère remportée par </span>
						    <span th:text="${enchere.utilisateur.pseudo}">MeilleureOffre</span>
						</h1>
					</div>
					<div th:if="${now.before(endDate) and now.after(startDate)}">
						<h1>Détail du produit</h1>
					</div>

					<div th:if="${now.before(startDate)}">
						<h1>L'enchère n'a pas commencé</h1>
					</div>
				</div>
				<h2 th:text="${article.nom}">Nom Article</h2>
				<p>
					<strong>Description:</strong> <span
						th:text="${article.description}">Description</span>
				</p>
				<p>
					<strong>Categorie:</strong> <span
						th:text="${article.categorie.libelle}">Categorie</span>
				</p>
				<p>
					<strong>Meilleure offre:</strong> <span
						th:text="${enchere.Montant} + ' € (' + ${enchere.utilisateur.pseudo} + ')'">MeilleureOffre</span>
						
						
						
			
						
						<th:block
				th:with="now=${#dates.createNow()}, startDate=${new java.util.Date(article.debut.time)}, endDate=${new java.util.Date(article.fin.time)}">
						<th:block
						sec:authorize="(hasRole('ROLE_MEMBRE') OR hasRole('ROLE_ADMIN'))">
						<th:block th:if="${#authentication.getPrincipal().getNoUtilisateur()} == ${enchere.utilisateur.noUtilisateur}">
							<th:block th:if="${now.before(endDate)}">
								<a data-th-href="@{/encheres/delete(noArticle=${article.noArticle}, montantRembouse=${enchere.Montant})}">
									<button>annuler votre enchere</button></a></p>
							</th:block>
						</th:block>
					</th:block>
					</th:block>
				<th:block
					sec:authorize="not (hasRole('ROLE_MEMBRE') or hasRole('ROLE_ADMIN'))">
					<p class="info">Connectez-vous pour enchérir !</p>
				</th:block>
				<p>
					<strong>Mise à prix:</strong> <span
						th:text="${article.miseAPrix} + ' €'">Prix</span>
				</p>
				<p>
					<strong>Fin de l'enchère:</strong> <span th:text="${article.fin}">Fin</span>
				</p>
				<p>
					<strong>Retrait:</strong> <span
						th:text="${retrait.rue} + '  ' + ${retrait.codePostal} + ' ' + ${retrait.ville}">Vendeur</span>
				</p>
				<p sec:authorize="hasRole('ROLE_MEMBRE') OR hasRole('ROLE_ADMIN')">
					<strong>Vendeur:</strong> <a
						data-th-href="@{/profilOther(noUtilisateur=${article.vendeur.noUtilisateur})}">
						<span th:text="${article.vendeur.pseudo}">Vendeur</span>
					</a>
				</p>

				<p
					sec:authorize="!hasRole('ROLE_MEMBRE') AND !hasRole('ROLE_ADMIN')">
					<strong>Vendeur:</strong> <span th:text="${article.vendeur.pseudo}">Vendeur</span>
				</p>



				<th:block
					sec:authorize="(hasRole('ROLE_MEMBRE') OR hasRole('ROLE_ADMIN'))">
					<th:block th:if="${#authentication.getPrincipal().getNoUtilisateur()} != ${article.vendeur.noUtilisateur}">
					<div
						th:with="startDate=${new java.util.Date(article.debut.time)}, endDate=${new java.util.Date(article.fin.time)}">
						<div
							th:if="${#dates.createNow().after(startDate) and #dates.createNow().before(endDate)}">
							<form action="/encheres/ajouter" method="post">
							
							
								<input type="hidden" id="noEncherrisseur" name="noEncherrisseur"
									th:value="${enchere.utilisateur.noUtilisateur}" />
									
									
								<input type="hidden" id="noArticle" name="noArticle"
									th:value="${article.noArticle}" /> <input type="hidden"
									id="enchereMax" name="enchereMax" th:value="${enchere.Montant}" />
								<input type="hidden" id="miseAPrix" name="miseAPrix"
									th:value="${article.miseAPrix}" />
								<p>
									<strong>Enchérir:</strong> <span><input type="number"
										id="nouvelleEnchere" name="nouvelleEnchere" required
										th:value="${enchere.Montant != 0 ? enchere.Montant + 1 : article.miseAPrix + 1}"></span>
								</p>
								<p class="info" th:if="${errorPrice}">Attention ! Vous devez
									enchérir à un montant au moins supérieur à l'enchère la plus
									haute</p>
									<p class="info" th:if="${noMoney}">Attention ! Vous n'avez pas assez de crédit pour enchérir</p>
								<button type="submit">Enregistrer</button>
							</form>
						</div>
						<div
							th:unless="${#dates.createNow().after(startDate) and #dates.createNow().before(endDate)}">
							<p class="info">La date ne vous permet pas d'enchérir !</p>
						</div>
					
					</div>
				</th:block>
			</th:block>
			<br>
			<div
				th:with="now=${#dates.createNow()}, startDate=${new java.util.Date(article.debut.time)}, endDate=${new java.util.Date(article.fin.time)}">
				<div th:if="${now.after(endDate) and enchere.utilisateur.pseudo ne pseudoUser}">
				<th:block th:if="${article.prixVente != -1 && article.prixVente != 0}">
				<a data-th-href="@{/encheres/retrait(noArticle=${article.noArticle}, montant=${enchere.Montant})}">
						    <button>Retrait effectué </button></a>	  
				</th:block>
				<th:block th:if="${article.prixVente == -1}">
				<p class="info">retrait déjà effectué</p>
				</th:block>
				<th:block th:if="${article.prixVente == 0}">
				<p class="info">retrait impossible aucune offre</p>
				</th:block>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>


