<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
<title>Articles</title>
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/tp-table.css}">
</th:block>

</head>
<body>
	<main>
		<form action="encheresParCategorieEtNom" method="post">
			<div>
				<label for="searchInput">Recherche :</label> <input type="text"
					id="searchInput" name="searchInput" th:placeholder="'Rechercher...'">
			</div>
			<div>
				<label for="categorySelect">Catégorie :</label> <select
					id="categorySelect" name="categorySelect">
					<option value="-1">Toutes les catégories</option>
					<option data-th-each="category : ${categories}"
						data-th-value="${category.noCategorie}"
						data-th-text="${category.libelle}"></option>
				</select>
			</div>
			<div>
				<button type="submit">Enregistrer</button>
			</div>
		</form>
		<div class="cards">
			<a th:each="item : ${articles}" class="card" data-th-href="@{/encheres/detail(noArticle=${item.noArticle})}">
				<h2 th:text="${item.nom}">Nom Article</h2>
				<p>
					<strong>Prix:</strong> <span th:text="${item.miseAprix}">Prix</span>
				</p>
				<p>
					<strong>Fin de l'enchère:</strong> <span th:text="${item.fin}">Fin</span>
				</p>
				<p>
					<strong>Vendeur:</strong> <span th:text="${item.vendeur.pseudo}">Vendeur</span>
				</p>
				<p>
					<strong>Categorie:</strong> <span th:text="${item.categorie.libelle}">Categorie</span>
				</p>
			</a>
		</div>
	</main>
</body>
</html>


