<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-filmotheque( 
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
<!-- Films comme titre de page -->
<title>Films</title>
<!-- Ajout de CSS tp-table.css -->
<th:block id="ressources-css">
	<link rel="stylesheet" data-th-href="@{/css/tp-table.css}">
</th:block>

</head>
<body>
	<main>
		<div th:each="item : ${articles}" class="card">
            <h2 th:text="${item.nom}">Nom Article</h2>
            <p><strong>Description:</strong> <span th:text="${item.description}">Description</span></p>
            <p><strong>Prix:</strong> <span th:text="${item.miseAprix}">Prix</span></p>
            <p><strong>Fin de l'enchère:</strong> <span th:text="${item.fin}">Fin</span></p>
            <p><strong>Vendeur:</strong> <span th:text="${item.vendeur.pseudo}">Vendeur</span></p>
            <img data-th-src="@{/images/logoEncheres.png}">
        </div>
	</main>
</body>
</html>
